@page "/christmas"

<PageTitle>Christmas</PageTitle>

<h1>Countdown to Christmas</h1>

<p>
    @countdownText
</p>
<MudImage Src="/img/GingerbreadHouse.jpg" Alt="Gingerbread House"></MudImage>


@code {
    private static System.Timers.Timer aTimer;
    DateTime theDateWeCareAbout = DateTime.Parse("12/25/2024 12:00:00 AM");
    TimeSpan countDown;
    string countdownText;

    protected override async Task OnInitializedAsync()
    {
        aTimer = new System.Timers.Timer(1000);
        aTimer.Elapsed += CountDownTimer;
        aTimer.Enabled = true;
    }

    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        countDown = theDateWeCareAbout - DateTime.Now;
        countdownText = string.Format("{0} Days, {1} Hours, {2} Minutes, {3} Seconds til Christmas.", countDown.Days, countDown.Hours, countDown.Minutes, countDown.Seconds);
        StateHasChanged();
    }
}
